.intro-footer {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  background-color: #0f1012;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 6px 6px 0 0;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 80px;
}

.intro-footer .redes {
  display: flex;
  gap: 20px;
}
