* {
  border: none;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

body {
  margin: auto 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* background: #1b1d20; */
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.titulo-geral {
  font-family: "Roboto Mono", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}
