* {
  border: none;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
  background: #1b1d20;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
