.intro {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.menu-intro {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu-intro a {
  font-weight: 400;
  font-size: 1.35rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  padding: 16px 0px;
  position: relative;
}

.menu-intro li a {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  min-width: 80px;
  padding: 10px;
  position: relative;
}

.menu-intro li a::after {
  content: "";
  display: block;
  bottom: 0px;
  height: 4px;
  border-radius: 4px;
  width: 0;
  margin-top: 4px;
  transition: 0.4s;
  position: absolute;
  background-color: #fff30f;
}

.menu-intro li a:hover::after {
  width: 100%;
}
